




/******************* layout *******************/

#container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#post_title_top_left {
	float:left;
	width: 400px;
}

#post_title_top_right {
	float:right;
	width:100px;
}

#post_title_bottom_left {
	float:left;
	width:100px;
}

#post_title_bottom_right {
	float:right;
	width:400px;
}

#post_tags {
	float:left;
	width:50px;
	text-align:right;
/*	background-color:red;*/
}

#post_body {
	float:right;
	width:400px;
	padding-bottom:100px;
	padding-top:10px;
/*	background-color:purple;*/
}

#float_clear {
	clear:both;
}


/**************** type styles ****************/

h1 {
	font-family: french-canon;
	font-style: italic;
	font-weight:400;
	font-size: 2.5em;
	letter-spacing:.15em;
	text-align: right;
	text-transform:uppercase;
}

h2 {
	font-family: french-canon;
	font-style: italic;
	font-weight: 400;
	font-size: 2.5em;
	letter-spacing:.15em;
	text-align:left;
	text-transform:uppercase;
}

p.date {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
	font-size: .75em;
	line-height: 3.5em;
}

p.body {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
	font-size: .75em;
	line-height: 1.8em;
}
