body {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
}

#wrap {
	width: 580px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

/******************* layout *******************/

#container_l {
	width: 500px;
	float:left;
/*	margin-left: auto;
	margin-right: auto;*/
}

#container_r {
	width: 80px;
	float:right;
	position:fixed;
	display: block;
}

#post_title_top_left {
	float:left;
	width: 400px;
}

#post_title_top_right {
	float:right;
	width:100px;
}

#post_title_bottom_left {
	float:left;
	width:150px;
}

#post_title_bottom_right {
	float:right;
	width:350px;
}

#post_tags {
	float:left;
	width:120px;
	text-align:right;
/*	padding-top:10px;*/
/*	background-color:red;*/
}

#post_body {
	float:right;
	width:350px;
	padding-bottom:120px;
	padding-top:10px;
/*	background-color:purple;*/
}

#float_clear {
	clear:both;
}


/**************** type styles ****************/

h1 {
	font-family: french-canon;
	font-style: italic;
	font-weight:400;
	font-size: 2em;
	letter-spacing:.5em;
	text-align: right;
	text-transform:uppercase;
}

h2 {
	font-family: french-canon;
	font-style: italic;
	font-weight: 400;
	font-size: 2em;
	letter-spacing:.5em;
	text-align:left;
	text-transform:uppercase;
}

p.date {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
	font-size: .75em;
	line-height: 3.5em;
	text-transform:uppercase;
	padding-top:.9em;
}

#post_body p {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
	font-size: .75em;
	line-height: 1.8em;
	padding-bottom:.9em;
}
