
/******************* basics *******************/

a:link, a:visited, a:hover, a:active {
	color: #e64310;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .67em;
}

body {
	font-family: french-canon;
	font-style: normal;
	font-weight: 400;
}

/******************* layout *******************/

#wrap {
	width: 580px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 25px;
}

#admin_nav {
	padding-bottom:40px;
	padding-left:150px;
}

.each_post {
	overflow: hidden;
	width: 500px;
}

div.each_post img {
	z-index:-2;
	float:right;
}

#logo {
	position: fixed;
	top: 25px;
	width: 80px;
	float: left;
	z-index: -1;
}
#logo img {
	margin-left: 540px;
}

.title_top {
	width: 400px;
	float: left;
	text-align: right;
}

.title_bottom {
	width: 350px;
	float: right;
	text-align: left;
}

#float_clear {
	clear:both;
}

/**************** type stuff ****************/

h1 {
	font-size: 2em;
	letter-spacing:.5em;
	text-transform: uppercase;
	display: inline;
	font-style: italic;
}

.red_o {
	color: #e64310;	
}

p {
	line-height: 1.8em;
	padding-bottom:.9em;
	font-size: .9em;
	float:right;
	width:350px;	
}

.each_post:after {
	content: url('/images/divider.png');
	display: block;
	float: right;
	padding-top: 20px;
	padding-bottom: 80px;
}

pubDate {
	float:left;
	width:120px;
	text-align:right;
	padding-top:13px;
	display:block;
	line-height: 2.7em;
	text-transform:uppercase;	
}



























