
	<div id="post_head">
		<h1>THIS IS A BLOG POST, SON</h1>
	</div>

	<div id="post_left">
		<p class="serif">
			asdfasdfa;sldkgjalsakljdfglakjdfhlgakjdfhglakjdfhjasdhgakjhf
		</p>
	</div>

<div id="post_right">
	<p class="serif">
		Day 34 The horrors of this labyrinth never cease.  Today I thought I found an escape tunnel but it ended up placing me on a different part of this maze of horrors.  I don’t know how I was placed in this awful system of tunnels, or why I was done so completely naked save a solitary bow on my head and a pair of high heels, but if I ever find the people who have done this to me, I will kill them.  I will kill them all.
	</p>
</div>
