<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
	
	
	



<div id="post_title_top_left">
	<h1><%= post.first_title_line %></h1>
</div>

<div id="post_title_top_right"></div>

<div id="float_clear"></div>

<div id="post_title_bottom_left"></div>

<div id="post_title_bottom_right">
	<h2><%= post.last_title_line %></h2>
</div>

<div id="float_clear"></div>

<div id="post_tags">
	<p class="body">
		APR
	</p>
	<p class="date">
		07
	</p>
	<p class="date">
		1986
	</p>
</div>

<div id="post_body">
	<p class="body">
		<%= post.body %>
	</p>
</div>

<% end %>

